{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <h3>Delete Fishing Journal Entry</h3>
                <p>Are you sure you want to delete "{{ entry.title }}"?</p>
                <form method="post" action="{% url 'fishing_journal:delete_entry' entry.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
            </div>
        </div>
    </div>
{% endblock %}