/* Custom styles for the Fishing Blog */

/* Light blue background */
body {
  background-color: #BFE2FF;
}

/* Dark blue navigation bar */
.navbar {
  background-color: #335577;
}

/* Dark blue footer */
footer {
  background-color: #335577;
}

/* Silver and light blue text color for footer */
footer p {
  color: #C0C0C0;
}

footer a {
  color: #BFE2FF;
  text-decoration: none;
}

/* Custom styles for specific elements */

/* Brand logo */
.brand {
  font-family: Lato, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #BFE2FF;
}

/* Background for main content area */
.main-bg {
  background-color: #BFE2FF;
}

/* Styling for card elements */
.card {
  border: none;
  background-color: transparent;
}

/* Styling for entry-card */
.entry-card {
  display: inline-block;
  background-color: #FDF1DC;
  border: 3px solid #335577;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.entry-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.entry-card p {
  font-size: 1rem;
  margin-bottom: 5px;
}

.entry-card .btn {
  margin-top: 10px;
}

.entry-card:hover {
  transform: translateY(-2px);
  transition: transform 0.2s ease;
  background-color: #FBE8D6;
}


/* Styling for image containers */
.image-container {
  position: relative;
}

/* Styling for the image flash effect */
.image-flash {
  position: absolute;
  bottom: 5%;
  min-width: 30%;
  left: -2px;
  background-color: #335577;
}

/* Styling for author names */
.author {
  color: #BFE2FF;
  margin: 4px;
  text-transform: capitalize;
}

/* Styling for masthead section */
.masthead {
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 33vh;
  width: 100%;
}

.masthead-text {
  background-color: #335577;
  color: #BFE2FF;
  position: relative;
}

.masthead-image {
  position: relative;
  overflow: hidden;
}

.masthead-image:after {
  content: "";
  position: absolute;
  top: -10%;
  right: 80%;
  height: 100%;
  width: 100%;
  background: #335577;
  border-radius: 50%;
  z-index: 100;
}

/* Styling for post links */
.post-link {
  text-decoration: none;
  color: #445261;
}

/* Styling for post links on hover */
.post-link:hover,
.page-link {
  color: #E84610;
}

/* Styling for post titles */
.post-title {
  margin-top: 20%;
  margin-left: 5%;
}

/* Styling for post subtitles */
.post-subtitle {
  margin-left: 5%;
  color: lightgray;
}

/* Styling for links */
.link {
  color: #23BBBB;
  text-decoration: none;
}

/* Styling for like button */
.btn-like {
  color: #E84610;
  border: none;
  background: transparent;
}

/* Messages Container */
#messages-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
