{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <h1>Contact</h1>
                    <p class="lead">
                        Reel in your thoughts, hook me with your suggestions,
                        or cast your incredible fishing tales my way! I'm all
                        about fishing and fun at "Swedish Angler's Diary"
                        and I can't wait to hear from you. Whether it's tips, stories,
                        or anything fishy, drop me a line, and I'll be hooked on your message.
                    </p>
                    <p class="lead">Tight lines and happy fishing!</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
