{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <h3>Contact Us</h3>
                    <p>Have a question or suggestion? Want to share your
                        fishing experiences with us? Feel free to
                        reach out! We love hearing from our community and value your 
                        feedback. Whether it's about fishing tips or any other topic related to our blog, 
                        we're here to help. Drop us a line, and we'll get back to you as soon as possible.
                    </p>
                    <p>Tight lines and happy fishing!</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-signup" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
